<ul class="transaction-list flex flex-column px-3">
  <li
    class="transaction-item flex flex-row align-content-start justify-content-between gap-2 py-3"
  >
    <div
      class="transaction-item-icon flex align-items-center justify-content-center blue"
    >
      <img alt="Icon file storage" src="/assets/icons/file-storage.svg" />
    </div>
    <div class="transaction-info flex-auto flex justify-content-between">
      <div class="transaction-detail">
        <h3 class="transaction-title mb-2">Hamleys</h3>
        <div class="transaction-time mb-2">20 May 2020</div>
        <div class="transaction-action flex gap-2">
          <span
            class="transaction-action-icon flex align-items-center justify-content-center"
          >
            <img
              alt="Icon business and finance"
              src="/assets/icons/business-and-finance.svg"
            />
          </span>

          <span class="transaction-action-detail">Refund on debit card</span>
        </div>
      </div>
      <div class="transaction-change credit">
        <span class="mr-2">+ S$ 150</span>
        <span>
          <img
            class="transaction-change-icon"
            alt="Icon next"
            src="/assets/icons/next.svg"
          />
        </span>
      </div>
    </div>
  </li>
  <li
    class="transaction-item flex flex-row align-content-start justify-content-between gap-2 py-3"
  >
    <div
      class="transaction-item-icon flex align-items-center justify-content-center green"
    >
      <img alt="Icon flights" src="/assets/icons/flights.svg" />
    </div>
    <div class="transaction-info flex-auto flex justify-content-between">
      <div class="transaction-detail">
        <h3 class="transaction-title mb-2">Hamleys</h3>
        <div class="transaction-time mb-2">20 May 2020</div>
        <div class="transaction-action flex gap-2">
          <span
            class="transaction-action-icon flex align-items-center justify-content-center"
          >
            <img
              alt="Icon business and finance"
              src="/assets/icons/business-and-finance.svg"
            />
          </span>

          <span class="transaction-action-detail"> Charged to debit card </span>
        </div>
      </div>
      <div class="transaction-change">
        <span class="mr-2">- S$ 150</span>
        <span>
          <img
            class="transaction-change-icon"
            alt="Icon next"
            src="/assets/icons/next.svg"
          />
        </span>
      </div>
    </div>
  </li>
  <li
    class="transaction-item flex flex-row align-content-start justify-content-between gap-2 py-3"
  >
    <div
      class="transaction-item-icon flex align-items-center justify-content-center pink"
    >
      <img alt="Icon megaphone" src="/assets/icons/megaphone.svg" />
    </div>
    <div class="transaction-info flex-auto flex justify-content-between">
      <div class="transaction-detail">
        <h3 class="transaction-title mb-2">Hamleys</h3>
        <div class="transaction-time mb-2">20 May 2020</div>
        <div class="transaction-action flex gap-2">
          <span
            class="transaction-action-icon flex align-items-center justify-content-center"
          >
            <img
              alt="Icon business and finance"
              src="/assets/icons/business-and-finance.svg"
            />
          </span>

          <span class="transaction-action-detail">Charged to debit card</span>
        </div>
      </div>
      <div class="transaction-change">
        <span class="mr-2">- S$ 150</span>
        <span>
          <img
            class="transaction-change-icon"
            alt="Icon next"
            src="/assets/icons/next.svg"
          />
        </span>
      </div>
    </div>
  </li>
  <li
    class="transaction-item flex flex-row align-content-start justify-content-between gap-2 py-3"
  >
    <div
      class="transaction-item-icon flex align-items-center justify-content-center blue"
    >
      <img alt="Icon file storage" src="/assets/icons/file-storage.svg" />
    </div>
    <div class="transaction-info flex-auto flex justify-content-between">
      <div class="transaction-detail">
        <h3 class="transaction-title mb-2">Hamleys</h3>
        <div class="transaction-time mb-2">20 May 2020</div>
        <div class="transaction-action flex gap-2">
          <span
            class="transaction-action-icon flex align-items-center justify-content-center"
          >
            <img
              alt="Icon business and finance"
              src="/assets/icons/business-and-finance.svg"
            />
          </span>

          <span class="transaction-action-detail">Charged to debit card</span>
        </div>
      </div>
      <div class="transaction-change">
        <span class="mr-2">- S$ 150</span>
        <span>
          <img
            class="transaction-change-icon"
            alt="Icon next"
            src="/assets/icons/next.svg"
          />
        </span>
      </div>
    </div>
  </li>
</ul>
<div class="transaction-all">
  <a class="transaction-link" href> View all card transactions </a>
</div>
