<nav class="navigation-container">
  <a
    class="navigation-item"
    routerLink="/"
    routerLinkActive="router-link-active"
  >
    <img
      class="button-icon mb-2"
      alt="Icon Aspire"
      src="/assets/icons/aspire-logo-sm-white.svg"
    />
    Home
  </a>
  <a
    class="navigation-item"
    routerLink="/card-management"
    routerLinkActive="router-link-active"
  >
    <img
      class="button-icon mb-2"
      alt="Icon cards"
      src="/assets/icons/cards.svg"
    />
    Cards
  </a>
  <a
    class="navigation-item"
    routerLink="/"
    routerLinkActive="router-link-active"
  >
    <img
      class="button-icon mb-2"
      alt="Icon payments"
      src="/assets/icons/payments.svg"
    />
    Payments
  </a>
  <a
    class="navigation-item"
    routerLink="/"
    routerLinkActive="router-link-active"
  >
    <img
      class="button-icon mb-2"
      alt="Icon credit"
      src="/assets/icons/credit.svg"
    />
    Credit
  </a>
  <a
    class="navigation-item"
    routerLink="/"
    routerLinkActive="router-link-active"
  >
    <img
      class="button-icon mb-2"
      alt="Icon user"
      src="/assets/icons/user.svg"
    />
    Profile
  </a>
</nav>
