<aside class="aside-navigation">
  <img
    class="aside-navigation-logo mb-2"
    alt="Aspire logo"
    src="/assets/icons/aspire-logo.svg"
  />
  <p class="intro">
    Trusted way of banking for 3,000+ SMEs and startups in Singapore
  </p>
  <ul class="aside-navigation-list">
    <li class="aside-navigation-item">
      <a
        class="aside-navigation-link"
        routerLink="/"
        routerLinkActive="router-link-active"
      >
        <img
          class="button-icon mb-2"
          alt="Icon Aspire"
          src="/assets/icons/aspire-logo-sm-white.svg"
        />
        Home
      </a>
    </li>

    <li class="aside-navigation-item">
      <a
        class="aside-navigation-link"
        routerLink="/card-management"
        routerLinkActive="router-link-active"
      >
        <img
          class="button-icon mb-2"
          alt="Icon cards"
          src="/assets/icons/cards.svg"
        />
        Cards
      </a>
    </li>
    <li class="aside-navigation-item">
      <a
        class="aside-navigation-link"
        routerLink="/"
        routerLinkActive="router-link-active"
      >
        <img
          class="button-icon mb-2"
          alt="Icon payments"
          src="/assets/icons/payments.svg"
        />
        Payments
      </a>
    </li>
    <li class="aside-navigation-item">
      <a
        class="aside-navigation-link"
        routerLink="/"
        routerLinkActive="router-link-active"
      >
        <img
          class="button-icon mb-2"
          alt="Icon credit"
          src="/assets/icons/credit.svg"
        />
        Credit
      </a>
    </li>
    <li class="aside-navigation-item">
      <a
        class="aside-navigation-link"
        routerLink="/"
        routerLinkActive="router-link-active"
      >
        <img
          class="button-icon mb-2"
          alt="Icon user"
          src="/assets/icons/user.svg"
        />
        Settings
      </a>
    </li>
  </ul>
</aside>
